@font-face {
font-family: 'Myriad Pro Regular';
font-style: normal;
font-weight: normal;
src: local('font/myriad/Myriad Pro Regular'), url('font/myriad/MYRIADPRO-REGULAR.woff') format('woff');
}

@font-face {
font-family: 'Myriad Pro Semibold';
font-style: normal;
font-weight: normal;
src: local('font/myriad/Myriad Pro Semibold'), url('font/myriad/MYRIADPRO-SEMIBOLD.woff') format('woff');
}

body{
	font-family:"Myriad Pro Regular"
}
h2{
	font-size: 2.5em;
	color: #0a79a5;
}

.clear{
	clear: both;
}
#logo{
	float: left;
	padding-top: .15em;
	padding-left: 2em;
	
}


#nav li{
	display: inline;
	padding-left: 3em;
	padding-top: 1.6em;
	font-size: 1.2em;
	float: left;
}
#nav li a{
	text-decoration: none;
	color: black;
	font-family: 'Myriad Pro Regular';
	font-weight: bold;
}

nav{
	background-color: white;
	opacity: 0.3;
	position: fixed;
	width: 100%; 
	height: 5em;
}
nav:hover{
	opacity: 1;
	transition-duration: 1s;
}

#slider img{
	width: 100%;
	height: 300px;
}	
#shortcut{
	width: 60em;
	margin: 0 auto;
	height: 12em;
}
#shortcut ul li{
	width: 20em;
	height: 12em;
	display: block;
	float: left;
	text-align: center;
	padding: 5em 10em 3em 0em;

}
#shortcut ul li img{
	float: left;
	
}

#shortcut ul li span{
	
}

body{
	font-family:"Myriad Pro Regular"
}
h2{
	font-size: 2.2em;
	color: #0a79a5;
	font-family:"Myriad Pro Semibold";
}

h3{
	font-family:"Myriad Pro Semibold";
}
#last {
	margin: 0 auto;
	width: 960px;
	
}
#last ul{
	margin-top: 20px;
}
#last ul li{
	width: 300px;
	text-align: left;
	margin-left: 20px;
	float: left;
	display: block;
	background: rgba(228,105,160,1);
	background: -moz-linear-gradient(top, rgba(228,105,160,1) 0%, rgba(172,1,35,1) 30%, rgba(93,1,65,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(228,105,160,1)), color-stop(30%, rgba(172,1,35,1)), color-stop(100%, rgba(93,1,65,1)));
	background: -webkit-linear-gradient(top, rgba(228,105,160,1) 0%, rgba(172,1,35,1) 30%, rgba(93,1,65,1) 100%);
	background: -o-linear-gradient(top, rgba(228,105,160,1) 0%, rgba(172,1,35,1) 30%, rgba(93,1,65,1) 100%);
	background: -ms-linear-gradient(top, rgba(228,105,160,1) 0%, rgba(172,1,35,1) 30%, rgba(93,1,65,1) 100%);
	background: linear-gradient(to bottom, rgba(228,105,160,1) 0%, rgba(172,1,35,1) 30%, rgba(93,1,65,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e469a0', endColorstr='#5d0141', GradientType=0 );
}

